<%- form_tag features_path, :id => "new_feature",:class => "new_feature", :method => :post do %>
	<%= hidden_field_tag "feature[title]", file[:feature_title] %>
	<%= hidden_field_tag "feature[in_order]", file[:in_order] %>
	<%= hidden_field_tag "feature[as_a]", file[:as_a] %>
	<%= hidden_field_tag "feature[i_want]", file[:i_want] %>
	<label>Feature:</label>
	<p><%= file[:feature_title]%></p>
	<p><%= file[:in_order]%> </p>
	<p><%= file[:as_a]%> </p>
	<p><%= file[:i_want]%></p>
	<% if !Project.all.empty? %>
  	<% for project in Project.find :all %>
			<%= check_box_tag "feature[project_ids][]", project.id, feature.projects.include?(project), {:id=>"feature_project_id_#{project.id}"} %>
			<%= project.title%><br/>
		<% end %>
		<% file[:scenarios].each do |scenario| %>
			<% if not Story.find_by_scenario(scenario[:story].sub(/^Scenario: /,"").strip)%>
				<%= hidden_field_tag "feature[stories_attributes][][scenario]", scenario[:story].sub(/^Scenario: /,"").strip %>
				<% Story.formatted_steps(scenario[:steps]).each do |step| %>
					<%= hidden_field_tag "feature[stories_attributes][][steps][]", step %>
				<%end %>
			<% end %>
		<% end %>
	<% end %>

	<%= submit_tag "Import #{file[:file].sub(/\.feature/,"").sub(/_/," ")}"%>
<% end %>