<%- form_tag features_path, :id => "new_feature",:class => "new_feature", :method => :post do %>
	<%= hidden_field_tag "feature[title]", file[:feature].title %>
	<%= hidden_field_tag "feature[in_order]", file[:feature].in_order %>
	<%= hidden_field_tag "feature[as_a]", file[:feature].as_a %>
	<%= hidden_field_tag "feature[i_want]", file[:feature].i_want %>
	<h3>Feature: <%=h file[:file].sub(/\.feature/,"").sub(/_/," ") %></h3>
	<p id="title"><%= file[:feature].title%></p>
	<p>
		In order <%= file[:feature].in_order %><br />
        As a <%= file[:feature].as_a %><br />
        I want <%= file[:feature].i_want %>
	</p>
	<%= label_tag "feature tags:"%>
	<%= text_field_tag "feature[tag_list]" %><br/>
	<% if !Project.all.empty? %>
  	<% for project in Project.find :all %>
			<%= check_box_tag "feature[project_ids][]", project.id, feature.projects.include?(project), {:id=>"feature_project_id_#{project.id}"} %>
			<%= project.title%><br/>
		<% end %>
		
		<% file[:feature].stories.each do |story| %>
			<% if not Story.find_by_scenario(story.scenario.sub(/^Scenario: /,"").strip)%>
				<%= hidden_field_tag "feature[stories_attributes][][scenario]", story.scenario.sub(/^Scenario: /,"").strip %>
				<% story.steps.each do |step| %>
					<%= hidden_field_tag "feature[stories_attributes][][steps][]", step.title %>
				<%end %>
			<% end %>
		<% end %>
	<% end %>
  <% if file[:feature].title.blank? || file[:feature].in_order.blank? ||  file[:feature].as_a.blank? || file[:feature].i_want.blank?%>
    <p id="error">Invalid feature</p>
  <% else %>
	<%= submit_tag "Import #{file[:file].sub(/\.feature/,"").sub(/_/," ")}"%>
  <% end %>
<% end %>