<h3>Feature: <%=h file[:file].sub(/\.feature/,"").gsub(/_/,' ') %></h3>
<%- form_for file[:feature], :id => "new_feature",:class => "new_feature hidden", :method => :post do |f|%>
  <fieldset class="ui-tabs ui-widget ui-widget-content ui-corner-all">
    <%= f.hidden_field :title %>
    <%= f.hidden_field :in_order %>
    <%= f.hidden_field :as_a %>
    <%= f.hidden_field :i_want %>
    <p id="title"><%= file[:feature].title%></p>
    <p>
        In order <%=h file[:feature].in_order %><br />
        As <%=h file[:feature].as_a %><br />
        I want <%=h file[:feature].i_want %>
    </p>
    <%= f.label :tag_list %>
    <%= f.text_field :tag_list %><br/>
    <% if !Project.all.empty? %>
      <% for project in Project.find :all %>
          <%= check_box_tag "feature[project_ids][]", project.id, feature.projects.include?(project), {:id=>"feature_project_id_#{project.id}"} %>
          <%= project.title%><br/>
      <% end %>
      <% f.fields_for :stories, {:class => 'hidden'} do |stories_f| -%>
        <%= stories_f.hidden_field :scenario %>
        <% stories_f.fields_for :steps do |step_f| -%>
          <%= step_f.hidden_field :title -%>
        <% end -%>
        <% stories_f.fields_for :examples do |example_f| -%>
          <%= example_f.hidden_field :heading -%>
          <% example_f.fields_for :actions do |action_f| -%>
            <%= action_f.hidden_field :title -%>
            <% action_f.fields_for :items do |item_f| -%>
              <%= item_f.hidden_field :title -%>
            <% end %>
          <% end -%>
        <% end -%>
      <% end -%>
    <% end %>
    <br />
    <% if invalid_import? file[:feature] %>
      <p id="error">Invalid feature</p>
    <% elsif has_no_stories? file[:feature] %>
      <p id="error">No Scenario's found</p>
    <% else %>
      <button type="submit" class="button positive">
        <img src="/images/buttons/tick.png" alt=""/> <%= "Import #{file[:file].sub(/\.feature/,"").gsub(/_/," ")}" %>
      </button>
    <% end %>
  </fieldset>
<% end %>