<% content_for :side_bar do %>
	<%= error_messages_for :project %>
<% end %>

<%- semantic_form_for @project do |form| -%>
	<fieldset>
		<legend>
			<%= form_title(@project, "Project") %>
		</legend>
		<% form.inputs do %>
			<%= form.input :title %>
			<%= form.input :description, :rows => 4 %>
			<%= form.input :aim, :rows => 4 %>
			<%= form.input :location %>
			<%= form.input :tag_list %>
		<% end %>
			
		<% if !Feature.all.empty? %>
		<fieldset>
			<legend>Features</legend>
			<ul id="left_list">
		  <% for feature in Feature.find :all %>
		    <li>
				<%= check_box_tag "project[feature_ids][]", feature.id, @project.features.include?(feature) %>
					<%= feature.title%>
				</li>
			<% end %>
			
		<% else %>
			  <li>No features to add</li>
		<% end %>
			</ul>
		</fieldset>
		
		<%= render :partial => "/common/save_button" %>
	</fieldset>
<% end -%>