<h3>Edit <%=h @project.title %></h3>

<% form_for @project do |f| -%>
	
  <p><%= f.label :title, "Title" %><br/>
	<%= f.text_field :title %></p>
	
	<p>
		<%= f.label :description, "Description" %><br/>
		<%= f.text_area :description %>
	</p>
	
	<p>
		<%= f.label :aim, "Aim" %><br/>
		<%= f.text_area :aim %>
	</p>
	
	<%= f.submit "Submit", :disable_with => 'Submiting...' %>
<% end -%>