<% content_for :css_head do %>
	<%= stylesheet_link_tag 'features' %>
<% end %>

<% content_for :side_bar do %>
	<h3>Stories</h3>
<% end %>

<%= render :partial => '/common/project_info', :locals => {:project => @project}%>
<%= render :partial => '/common/project_summary', :locals => {:project => @project}%>

<% if !@project.features.blank? %>
	<%= render :partial => '/common/list/features', :locals => {:features => @project.features.all(:order=>"feature_projects.position"), :order =>true}%>
<% end %>


<%= render :partial => '/common/features_hover', :locals => {:features => @project.features}%>
<%= render :partial => 'common/sidebar/feature_stories', :locals => {:features => @project.features}%>