<% content_for :css_head do %>
	<%= stylesheet_link_tag 'features' %>
<% end %>
<div class="project_field">
	<h3>Project Summary</h3>
	<div class='project info'>
		<b>Title: </b><span><%= @project.title %></span><br/>
		<b>Description: </b><span><%= @project.description %></span><br/>
		<b>Aim: </b><span><%= @project.aim %></span>
	</div>
</div>
<%= link_to "Add feature", new_feature_path({:project_id=>@project.id})%>
<% if !@project.features.blank? %>
	<%= render :partial => '/common/features_list', :locals => {:features => @project.features}%>
<% end %>