<% content_for :css_head do %>
	<%= stylesheet_link_tag 'features' %>
<% end %>
<fieldset class="project_field">
	<legend>Project Summary</legend>
	<div class='project_info'>
		<b>Title: </b><span><%= @project.title %></span><br/>
		<b>Description: </b><span><%= @project.description %></span><br/>
		<b>Aim: </b><span><%= @project.aim %></span><br/>
	</div>
</fieldset>
<%= link_to "Add feature", new_feature_path({:project_id=>@project.id})%>
<% if !@project.features.blank? %>
	<%= render :partial => '/common/features_list', :locals => {:features => @project.features}%>
<% end %>