<% content_for :css_head do %>
	<%= stylesheet_link_tag 'features' %>
<% end %>

<div id="info">
	<h4>Project Info</h4>	
	<%= render :partial => '/common/project_info', :locals => {:project => @project}%>
	<%= render :partial => '/common/project_summary', :locals => {:project => @project}%>
</div>


<%= render :partial => '/common/sortable_list',:locals => {:models => @project_features, :item_name => 'feature', :order =>true}%>


<%= render :partial => '/common/hover', :locals => {:items => 'feature'}%>
<%= render :partial => 'common/sidebar/feature_stories', :locals => {:features => @project_features}%>