<% content_for :css_head do %>
	<%= stylesheet_link_tag 'features' %>
<% end %>
<fieldset class="project_field">
	<legend>Project Summary</legend>
	<div class='project_info'>
		Title: <span><%= @project.title %></span><br/>
		Description: <span><%= @project.description %></span><br/>
		Aim: <span><%= @project.aim %></span><br/>
	</div>
</fieldset>
<b>Features</b>
<ul>
	<% if !@project.features.blank? %>
	  <% for feature in @project.features %>
	    <li><span class="order_box">1</span><%= feature.title %></li>
	  <% end %>
	<% end %>
</ul>