<% if @list.blank? or steps_imported? @list %>
	<p>No features to import.</p>
<% else %>
<div id="myTabs">
	<ul>
	<% @list.each do |file| %>
		<% if Feature.find_by_title(file[:feature_title]).nil? %>
		<li>
			<a href="#<%=h file[:file].sub(/\./,"_") %>"><%=h file[:file].sub(/\.feature/,"").sub(/_/," ") %></a>
		</li>
		<% end%>
	<% end %>
	</ul>
<% @list.each do |file| %>
	<% if Feature.find_by_title(file[:feature_title]).nil? %>
	<div id="<%=h file[:file].sub(/\./,"_") %>">
		<%= render :partial => '/common/forms/feature_import', :locals => {:file => file}%>
		<p>
			<%= render :partial => '/common/scenario_steps', :locals => {:scenarios => file[:scenarios],:feature => file[:file].sub(/\./,"_")}%>
		</p>
	</div>
	<% end %>
<% end %>
</div>
<% end %>