<% if @imported.blank? or steps_imported? @imported %>
	<p>No features to import.</p>
<% else %>
<div id="myTabs">
	<ul>
	<% @imported.each_with_index do |file, index| %>
		<% if Feature.find_by_title(file[:feature].title).nil? %>
		<li>
          <a href="#<%=h file[:file].sub(/\./,"_") %>-<%= index+1%>"><%=h file[:file].sub(/\.feature/,"").gsub(/_/,' ').capitalize %></a>
		</li>
		<% end%>
	<% end %>
	</ul>
<% @imported.each_with_index do |file, index| %>
	<% if Feature.find_by_title(file[:feature].title).nil? %>
	<div id="<%=h file[:file].gsub(/\./,"_")%>-<%= index+1%>">
		<%= render :partial => '/common/forms/feature_import', :locals => {:file => file, :feature => @feature}%>
		<p>
			<%= render :partial => '/common/scenario_steps', :locals => {:scenarios => file[:feature].stories,:feature => file[:file].sub(/\./,"_")}%>
		</p>
	</div>
	<% end %>
<% end %>
</div>
<% end %>