<div id="myTabs">
	<ul>
	<% @list.each do |file| %>
		<li><a href="#<%=h file[:file].sub(/\./,"_") %>"><%=h file[:file].sub(/\.feature/,"").sub(/_/," ") %></a></li>
	<% end %>
	</ul>
	<% @list.each do |file| %>
	<div id="<%=h file[:file].sub(/\./,"_") %>">
		<%- form_tag features_path, :id => "new_feature",:class => "new_feature", :method => :post do %>
			<%= text_area_tag "feature_title", file[:feature_title], :name=>"feature[title]", :size=>"35x5" %><br/>
			<%= text_area_tag "feature_in_order", file[:in_order], :name=>"feature[in_order]", :size=>"35x5" %><br/>
			<%= text_field_tag "feature_as_a", file[:as_a], :name=>"feature[as_a]", :size=>"35x5" %><br/>
			<%= text_area_tag "feature_i_want", file[:i_want],:name=>"feature[i_want]" %><br/>
			
			<% if !Project.all.empty? %>
		  	<% for project in Project.find :all %>
					<%= check_box_tag "feature[project_ids][]", project.id %>
					<%= project.title%><br/>
				<% end %>
				<% file[:scenarios].each do |scenario| %>
					<% if not Story.find_by_scenario(scenario[:story].sub(/^Scenario: /,"").strip)%>
						<%= hidden_field_tag "feature[stories_attributes][scenario][]", scenario[:story].sub(/^Scenario: /,"").strip, :name=>"feature[stories_attributes][]",:size=>"35x5" %>
					<% end %>
				<% end %>
			<% end %>
			
			<%= submit_tag "Import #{file[:file].sub(/\.feature/,"").sub(/_/," ")}"%>
		<% end %>
		<p>
			<% file[:scenarios].each do |scenario| %>
				<%=h scenario[:story] %><br>
				<% scenario[:steps].each do |step| %>
					<%=h step %><br/>
				<% end %>
				<% if Story.find_by_scenario(scenario[:story].sub(/^Scenario: /,"").strip)%>
					<b>Already added</b>
				<% end %>
				<br/>
		<% end %>
		</p>
	</div>
	<% end %>
</div>