<h3>Projects</h3>
<%= link_to "New projects", new_project_path %>
<div id="lists" class="projects">
<% if !@projects.blank? %>
    <ul>
  <% @projects.each do |project| %>
			<li>
				<div class="project_title">
					Title: 
					<%=h project.title %>
				</div>
				<div class="project_description">
					Description:
					<%=h project.description %>
				</div>
				<div class="project_aim">
					Aim:
					<%=h project.aim %>
				</div>
				<% if !project.feature_ids.empty? %>
					<%= link_to "View Features", project_features_path(project)%>
				<% end %>
			</li>

  <% end %>
	</ul>
<% else %>
  <span>No projects available</span>
<% end %>
</div>