<h3>Projects</h3>
<%= link_to "New projects", new_project_path %>
<div id="lists" class="projects">
	<span class="order_icon">Order</span>
<% if !@projects.blank? %>
    <ul>
  <% @projects.each do |project| %>
	<li id="project_<%=project.id%>_list">
		<span class="order_box">1</span>
  	<span class="list_content">
			<b>Title: </b><%= project.title %><br/>
			<b>Description: </b><%= project.description %><br/>
			<b>Aim: </b><%= project.aim %>
		</span>
		<%= render :partial => '/common/project_icons', :locals => {:project => project}%>
	</li>
  <% end %>
	</ul>
<% else %>
  <span>No projects available</span>
<% end %>
</div>


<% content_for :js_head do %>
	<script type="text/javascript">
		document.observe('dom:loaded', function() {
<% if !@projects.blank? %>
 <% for project in @projects %>
      $('project_<%=project.id %>_list').observe('mouseover', displayInfo.bindAsEventListener(this, 'project_<%=project.id %>_feature'));
		$('project_<%=project.id %>_list').observe('mouseout', displayInfo.bindAsEventListener(this, 'project_<%=project.id %>_feature'));
 <% end %>
			$('li.project_features').hide();
		});
	</script>
	<% end %>
<% end %>


<%= render :partial => 'common/sidebar/project_features', :locals => {:projects => @projects}%>