<% form_for :project, :url => projects_path do |f| -%>
	<%= error_messages_for :project %>
  <p>
		<%= f.label :title, "Title" %>
		<%= f.text_field :title %>
	</p>
	
	<p>
		<%= f.label :description, "Description" %>
		<%= f.text_area :description %>
	</p>
	
	<p>
		<%= f.label :aim, "Aim" %>
		<%= f.text_area :aim %>
	</p>

	  <% for feature in Feature.find :all %>
	    <div>
			<%= check_box_tag "project[feature_ids][]", feature.id, @project.features.include?(feature) %>
				<%= feature.title%>
			</div>
	<% end %>
	
	<%= f.submit "Submit", :disable_with => 'Submiting...' %>
<% end -%>