<% form_for :project, :url => projects_path do |f| -%>
	<%= error_messages_for :project %>
  <p>
		<%= f.label :title, "Title" %>
		<%= f.text_field :title %>
	</p>
	
	<p>
		<%= f.label :description, "Description" %>
		<%= f.text_area :description %>
	</p>
	
	<p>
		<%= f.label :aim, "Aim" %>
		<%= f.text_area :aim %>
	</p>

	<% if !@stories.blank? %>
	  <% for story in Story.find :all %>
	    <div>
			<%= check_box_tag "project[story_ids][]", story.id, @project.stories.include?(story) %>
				<%= story.title%>
			</div>
	  <% end %>
	<% else %>
	No stories to select  
	<% end %>

	<% if !@features.blank? %>
	  <% for feature in Feature.find :all %>
	    <div>
			<%= check_box_tag "project[feature_ids][]", story.id, @project.features.include?(feature) %>
				<%= feature.title%>
			</div>
	  <% end %>
	<% else %>
	No features to select  
	<% end %>
	
	<%= f.submit "Submit", :disable_with => 'Submiting...' %>
<% end -%>