<% form_for :project do |f| -%>
  <p>
		<%= f.label :title, "Title" %>
		<%= f.text_field :title %>
	</p>
	
	<p>
		<%= f.label :description, "Description" %>
		<%= f.text_area :description %>
	</p>
	
	<p>
		<%= f.label :aim, "Aim" %>
		<%= f.text_area :aim %>
	</p>
<% end -%>