<h3><%=h @project.title %></h3>

<p>Description: <%=h @project.description %></p>
<p>Aim: <%=h @project.aim %></p>
<p>Created at: <%=h @project.creation_date %></p>

<% if @project.created_at != @project.updated_at and not @project.updated_at.nil? %>
	<p>Updated at: <%=h @project.updated_date %></p>
<% end %>

<% if not @project.location.nil? %>
	<%= link_to "Import", project_import_path(@project) %> |
<% end %>

<%= link_to "Edit project", edit_project_path(@project) %> |

<%= render :partial => '/common/sortable_list',:locals => {:models => @project.features.all(:order=>"feature_projects.position"), :item_name => 'feature', :assoc => 'step', :order =>true}%>
<%= render :partial => 'common/sidebar_items', :locals => {:models => @project.features, :assoc => 'stories'}%>
<%= render :partial => '/common/hover', :locals => {:items => 'feature'}%>
