<h3><%=h @project.title %></h3>

<p><%=h @project.description %></p>
<p><%=h @project.aim %></p>
<%= render :partial => '/common/features_list', :locals => {:features => @project.features}%>


<%= render :partial => 'common/sidebar/feature_stories', :locals => {:features => @project.features}%>
<%= render :partial => '/common/features_hover', :locals => {:features => @project.features}%>
