<%= render :partial => '/common/model_info_and_summary', :locals => {:model => @project, :assoc => :features } %>

<span id="panel" class="ui-widget ui-widget-content ui-corner-all">
  <%= link_to "Import", import_project_path(@project) unless @project.location.blank? %> | 
  <%= link_to "Import All", import_all_project_path(@project) unless @project.location.blank? %> | 
  <%= link_to "Edit project", edit_project_path(@project) %>
</span>

<div id="list">
  <%= render :partial => '/common/sortable_list',:locals => {:models => @project_features, :item_name => 'feature', :assoc => 'story', :order =>true}%>
</div>
<%= render :partial => 'common/sidebar_items', :locals => {:models => @project_features, :assoc => 'stories'}%>
<%= render :partial => '/common/hover', :locals => {:items => 'feature'}%>
