<% content_for :js_head do %>
<script type="text/javascript">
	document.observe('dom:loaded', function() {
		<% for feature in features do %>
		$('order_icon').observe('click', toggleOrder.bindAsEventListener(this,"feature_<%=feature.id%>"));
		<%end%>
	});
</script>
<% end %>

<div class="features" id="lists">
	<%= link_to "New Feature", new_feature_path %>
	<%= render :partial => '/common/order', :locals => {:order => order} %>
	<% if !features.blank? %>
	<ul id="features">
<% for feature in features %>
	<% @index =0 unless !@index.nil?%>
	<% @index+=1%>
	<% content_tag_for :li, feature do %>
		<div>
			<span class="order_box" style="display:none;">
				<%= @index %>
			</span>
    	<span class="list_content"><b>Title: </b><%= feature.title %><br/>
			<b>Body: </b><%= feature.body %></span>
			<%= render :partial => '/common/feature_icons', :locals => {:feature => feature}%>
		</div>
	<% end %>
		</ul>
<% else %>
	<span>No features present</span>
<% end %>

</div>

<%= sortable_element( "features", :url => sort_features_path, :handle => "order_box")%>