<div class="features" id="lists">
	<%= link_to "New Feature", new_feature_path %>
	<span class="order_icon">Order</span>
	<ul id="features">
		  <% for feature in features %>
				<% content_tag_for :li, feature do %>
					<span class="order_box">1 </span>
		    	<span class="list_content"><b>Title: </b><%= feature.title %><br/>
					<b>Body: </b><%= feature.body %></span>
					<%= render :partial => '/common/feature_icons', :locals => {:feature => feature}%>
				<% end %>
		  <% end %>
	</ul>
</div>

<%= sortable_element( "features", :url => sort_features_path, :handle => "order_box")%>