<div class="features" id="lists">
  <%= link_to "New Feature", new_feature_path %>
  <%= order_btn features, order %>
  <ul id="features">
  <% if !features.blank? %>
      <% features.each_with_index do |feature,index| %>
        <% content_tag_for(:li, feature) do %>
          <% content_tag_for(:div, feature, :class=> "item_" + index.to_s ) do %>
            <span id="order_btn_<%=(index+1).to_s %>" class="order_box" style="display:none;">
              <%= index+1 %>
            </span>

            <%= render :partial => '/common/list/feature', :locals => {:feature => feature } %>
            <%= render :partial => '/common/feature_icons', :locals => {:feature => feature}%>
          <% end %>
        <% end %>
      <% end %>
  <% else %>
      <li>No features present</li>
  <% end %>
  </ul>
</div>

<% content_for :js_head do %>
  <%= javascript_include_tag "sortable_list" %>
<% end %>