<% content_for :js_head do %>
<script type="text/javascript">
	document.observe('dom:loaded', function() {
		<% for feature in features do %>
		$('order_icon').observe('click', toggleOrder.bindAsEventListener(this,"feature_<%=feature.id%>"));
		<%end%>
	});
</script>
<% end %>

<div class="features" id="lists">
	<%= link_to "New Feature", new_feature_path %>
	<%= order_btn features, order %>
	<ul id="features">
<% if !features.blank? %>
	<% features.each_with_index do |feature,index| %>
		<% content_tag_for :li, feature do %>
		<div>
			<span class="order_box" style="display:none;">
				<%= index+1 %>
			</span>
    	<span class="list_content">
				<b>Title: </b><%= feature.title %><br/>
				<b>Created at: </b><%= feature.created_at %><br/>
				<% if !feature.story_ids.empty? %>
					<%= link_to "Stories", feature_stories_path(feature), {:id=>"feature_#{feature.id}_stories"}%>
				<% end %>
			</span>
			<%= render :partial => '/common/feature_icons', :locals => {:feature => feature}%>
		</div>
			<% end %>
		<% end %>
<% else %>
	<li>No features present</li>
<% end %>
	</ul>
</div>

<%= sortable_element( "features", :url => "projects/sort_features", :handle => "order_box") %>