<div id="lists" class="projects">
	<%= link_to "New projects", new_project_path %>
	<%= order_btn projects, order %>
<% if !projects.blank? %>
  <ul>
<% projects.each_with_index do |project, index| %>
    <li>
		<% content_tag_for(:div, project, :class=> "item_" + index.to_s ) do %>
	  	<span class="list_content">
				<b>Title: </b><%= project.title %><br/>
				<b>Description: </b><%= project.description %><br/>
				<b>Aim: </b><%= project.aim %><br/>
				<b>Created at: </b><%= project.creation_date %><br/>
				<% if !project.feature_ids.empty? %>
					<%= link_to "Features", project_features_path(project)%>
				<% end %>
			</span>
			<%= render :partial => '/common/project_icons', :locals => {:project => project}%>
		<% end %>
      </li>
<% end %>
	</ul>
<% else %>
  <span>No projects present.</span>
<% end %>
</div>