<div id="lists" class="steps">
	<%= link_to "New Step", new_step_path %>
	<% if @steps.methods.include? :total %>
		<%= will_paginate @steps %>
	<% end %>
	<%= order_btn @steps, order %>
	<ul id="steps">
	<% if !@steps.blank? %>
	  <% @steps.each_with_index do |step,index| %>
	    <% content_tag_for :li, step do %>
          <div>
            <span id="order_btn_<%=(index+1).to_s %>" class="order_box" style="display:none;">
                <%= index+1 %>
            </span>
            <span class="list_content">
              <% if  step != @steps.first %>
                <%=h step.formatted @steps[index -1] %>
              <% else %>
                <%=h step.title %>
              <% end  %>
            </span>
            <%= render :partial => '/common/steps_icons', :locals => {:step => step}%>
          </div>
	    <% end %>
	  <% end %>
		</ul>
		<% if @steps.methods.include? :total %>
			<%= will_paginate steps %>
		<% end %>
	<% else %>
	<span>No steps present.</span>
	<% end %>

</div>

<% content_for :js_head do %>
  <%= javascript_include_tag "sortable_list" %>
<% end %>