<div id="lists" class="steps">
	<%= link_to "New Step", new_step_path %>
	<%= will_paginate steps %>
	<%= order_btn steps, order %>
	<ul id="steps">
	<% if !steps.blank? %>
	  <% steps.each_with_index do |step,index| %>
	    <% content_tag_for :li, step do %>
				<div>
					<span class="order_box" style="display:none;">
						<%= index+1 %>
					</span>
		    	<span class="list_content">
						<%=h format_step step %>
					</span>
					<%= render :partial => '/common/steps_icons', :locals => {:step => step}%>
				</div>
	    <% end %>
	  <% end %>
		</ul>
		<%= will_paginate steps %>
	<% else %>
	<span>No steps present.</span>
	<% end %>

</div>

<%= sortable_element( "steps", :url => sort_steps_path, :handle => "order_box")%>