<% content_for :js_head do %>
<script type="text/javascript">
	document.observe('dom:loaded', function() {
		<% for story in stories do %>
		$('order_icon').observe('click', toggleOrder.bindAsEventListener(this,"story_<%=story.id%>"));
		<%end%>
	});
</script>
<% end %>

<div id="lists" class="stories">
	<%= link_to "New Story", new_story_path %>
	
	<%= render :partial => '/common/order', :locals => {:order => order} %>
	<ul id="stories">
		<% if !stories.blank? %>
		  <% for story in stories %>
			<% @index =0 unless !@index.nil?%>
			<% @index+=1%>
		    <% content_tag_for :li, story do %>
					<div>
						<span class="order_box" style="display:none;">
							<%= @index %>
						</span>
			    	<span class="list_content"><b>Title: </b><%=h story.title %><br/>
						<b>Scenario: </b><%=h story.scenario %><br/></span>
						<%= render :partial => '/common/stories_icons', :locals => {:story => story}%>
					</div>
		    <% end %>
		  <% end %>
		<% else %>
		<p>No stories present.</p>
		<% end %>
	</ul>
</div>

<%= sortable_element( "stories", :url => sort_stories_path, :handle => "order_box")%>