<div id="lists" class="stories">
  <%= link_to "New Story", new_story_path %>
  <%= order_btn stories, order %>
  <% if !stories.blank? %>
    <%= will_paginate stories %>
    <ul id="stories">
      <% stories.each_with_index do |story,index| %>
      <% content_tag_for(:li, story) do %>
        <% content_tag_for(:div, story, :class=> "item_" + index.to_s ) do %>
          <span id="order_btn_<%=(index+1).to_s %>" class="order_box" style="display:none;">
            <%= index+1 %>
          </span>
          <span class="list_content">
            <b>Scenario: </b><%=h story.scenario %><br/>
            <% if !story.step_ids.empty? %>
              <%= link_to "Steps", story_steps_path(story), {:id=>"story_#{story.id}_steps"} %>
            <% end %>
          </span>
          <%= render :partial => '/common/stories_icons', :locals => {:story => story}%>
         <% end %>
        <% end %>
      <% end %>
    </ul>
    <%= will_paginate stories %>
  <% else %>
    <span>No stories present.</span>
  <% end %>
</div>

<% content_for :js_head do %>
  <%= javascript_include_tag "sortable_list" %>
<% end %>