<% content_for :side_bar do %>
	<%= error_messages_for :story %>
<% end %>

<% form_for story,:builder => ValidatingFormBuilder do |f| -%>
	<div id="form_content">
	  <p>
			<%= f.text_field :title %><br/>
		</p>
		<p>
			<%= f.text_area :scenario,:rows=>4 %><br/>
		</p>
	</div>
	<%= render :partial => '/common/features_checkboxes', :locals => {:story => story}%>
	<%= f.submit "Submit", :disable_with => 'Submiting...' %>
<% end -%>