<% content_for :side_bar do %>
	<%= error_messages_for :story %>
<% end %>

<% form_for story,:builder => ValidatingFormBuilder do |f| -%>
	<div id="form_content">
			<%= f.text_field :title %>
			<%= f.text_field :tag_list %>
			<%= f.text_area :scenario,:rows=>4 %>
	</div>
	<%= render :partial => '/common/features_checkboxes', :locals => {:story => story}%>
	<%= f.submit "Submit", :disable_with => 'Submiting...' %>
<% end -%>