<% form_for :story, :url => stories_path do |f| -%>
	<%= error_messages_for :story %>
  <p>
		<%= f.label :title, "Title" %><br/>
		<%= f.text_field :title %>
	</p>
		
	<p>
		<%= f.label :body, "Body" %><br/>
		<%= f.text_area :body %>
	</p>

	
	<% if !@projects.blank? %>
	  <% for project in Project.find :all %>
	    <div>
			<%= check_box_tag "story[project_ids][]", project.id, @story.projects.include?(project) %>
				<%= project.title%>
			</div>
	  <% end %>
	<% else %>
	No projects to select  
	<% end %>
	
	<%= f.submit "Submit", :disable_with => 'Submiting...' %>
<% end -%>