<%= render :partial => '/common/story_info', :locals => {:story => @story}%>
<%= render :partial => '/common/story_summary', :locals => {:story => @story}%>
<div style="clear:both"></div>

<%= render :partial => '/common/list/steps', 
					 :locals => {:steps => @story.steps.all(:order=>"step_stories.position"), :order =>true}%>

<% form_for @story do |f| -%>
	<%= render :partial => '/common/steps_checkboxes', :locals => {:story => @story} %>
	<%= f.submit "Submit", :disable_with => 'Submitting...' %>
<% end -%>

