<% content_for :js_head do %>
  <%= javascript_include_tag "http://cdn.jquerytools.org/1.2.0/all/jquery.tools.min.js" %>
  <%= javascript_include_tag "tooltips.js" %>
<%end %>

<h4>Step Info</h4>
<div id="info">
  <%= render :partial => '/common/model_information', :locals => {:model => @step}%>
  <%= render :partial => '/common/model_summary', :locals => {:model => @step}%>
</div>

<%= render :partial => '/common/panels/step', :locals => {:step => @step} %>

<% semantic_form_for @step do |form| -%>
  <%= render :partial => '/common/checkboxes', :locals => {:model => @step, :item_name => Story}%>
  <%= form.buttons %>
<% end -%>
