<% content_for :side_bar do %>
	<%= error_messages_for :feature %>
<% end %>
<%- semantic_form_for @feature do |form| -%>
	<fieldset>
		<legend>New Feature</legend>		
		<%= form.inputs %>
		
		<fieldset>			
			<legend>Projects</legend>
			<% if !Project.all.empty? %>
		  	<% for project in Project.find :all %>
			    <div>
					<%= check_box_tag "feature[project_ids][]", project.id, @feature.projects.include?(project), {:id=>"project_id_#{project.id}"} %>
						<%= project.title%>
					</div>
				<% end %>
			<% end %>
		</fieldset>
		
		<%= render :partial => "/common/save_button" %>
	</fieldset>
<% end -%>