<% form_for @feature do |f| %>
	<%= error_messages_for :feature %>
  <p>
		<%= f.label :title, "Title" %><br/>
		<%= f.text_field :title %>
	</p>
		
	<p>
		<%= f.label :body, "Body" %><br/>
		<%= f.text_area :body %>
	</p>

	<p>
	  <% for project in Project.find :all %>
	    <div>
			<%= check_box_tag "feature[project_ids][]", project.id, @feature.projects.include?(project), {:id=>"project_id_#{project.id}"} %>
				<%= project.title%>
			</div>
		<% end %>
	</p>
	
	<%= f.submit "Submit", :disable_with => 'Submiting...' %>
<% end -%>