<h3>Features</h3>
<%= render :partial => 'common/cloud_tag', :locals => {:tags => @tags}%>

<% if not @to_import.nil? %>
  <div id='features_to_import'>
    <ul id="import_list">
      <% @to_import.each do |feature|%>
      <li><%= link_to "Import #{File.basename(feature).sub('.feature', '').gsub('_',' ')}", "..." %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div id="list">
  <%= render :partial => '/common/sortable_list',:locals => {:models => @features, :item_name => 'feature', :assoc => 'story', :order =>false}%>
</div>

<%= render :partial => 'common/sidebar_items', :locals => {:models => @features, :assoc => 'stories'}%>
<%= render :partial => '/common/hover', :locals => {:items => 'feature'}%>
