<div id="info">
	<h4>Feature Info</h4>	
	<%= render :partial => '/common/model_information', :locals => {:model => @feature}%>
    <%= render :partial => '/common/model_summary', :locals => {:model => @feature, :assoc => :stories}%>
</div>

<%= render :partial => '/common/sortable_list',:locals => {:models => @feature.stories.paginate(:page=>params[:page],:order=>"feature_stories.position"), :item_name => 'story', :assoc => 'step', :order =>true}%>
<%= render :partial => '/common/hover', :locals => {:items => 'story', :order =>true} %>
<%= render :partial => 'common/sidebar_items', :locals => {:models => @feature.stories.paginate(:page=>params[:page],:per_page=>10,:order=>"feature_stories.position"), :assoc => 'steps'}%>