<a href="javascript://" class="display_info" id="<%= item_name.to_s.downcase.pluralize %>_checkbox"><%= "view #{item_name.to_s.downcase.pluralize}" %></a>
<br />
<% if !item_name.send(:all).nil? %>
  <fieldset id="fieldset_<%= item_name.to_s.downcase.pluralize %>" class="views">
	<legend><%= item_name.to_s.pluralize %></legend>
	<ul id="left_list">
 <% for item in item_name.send(:all) %>
   <li>
    <%= check_box_tag "#{model.class.to_s.downcase.singularize}[#{item_name.to_s.downcase.singularize}_ids][]",
       item.id,
       model.send(item_name.to_s.downcase.pluralize).include?(item),
       {:id=>"#{model.class.to_s.downcase.singularize}_#{model.id}_#{item_name.to_s.downcase.singularize}_id_#{item.id}"} %>
     <%=h display_item_title(item) %>
	</li>
<% end %>
	</ul>
    <%= render :partial => "/common/save_button" %>
</fieldset>
<% else %>
	<ul>
	  <li>No items to</li>
	</ul>
<% end %>
