<% if not story.example.blank? %>
<hr />
<table class="ui-tabs ui-widget ui-widget-content ui-corner-all">
  <thead>
    <tr>
      <td colspan="<%=story.example.actions.size%>"><b>Examples:</b> <%=h story.example.heading %></td>
    </tr>
    <tr>
    <% story.example.actions.each do |action| %>
      <td><b><%= action.title%></b></td>
    <% end %>
    </tr>
  </thead>
  <tbody>
    <% story.example.actions.first.items.each_with_index do |item, index| %>
    <tr class="<%=  (index.even?)? 'even' : 'odd' %>">
      <% story.example.actions.each_with_index do |action, width_index| %>
      <td><%= story.example.actions[width_index].items[index].title %></td>
      <% end %>
    </tr>
    <% end %>
  </tbody>
</table>
<% end %>