<span class="icons ui-widget ui-widget-content ui-corner-all">
  <ul class="icons">
    <li title="View" class="ui-state-default ui-corner-all">
      <%= link_to "<span class='ui-icon ui-icon-note' />",
        {:controller => model.class.to_s.downcase.pluralize, :id => model, :action => 'show'}, {:title => "View"} %>
    </li>
    <li title="Edit" class="ui-state-default ui-corner-all">
      <%= link_to "<span class='ui-icon-pencil ui-icon' />",
        {:controller => model.class.to_s.downcase.pluralize, :id => model, :action => 'edit'}, {:id=>"edit_#{model.class.to_s.downcase}_#{model.id}"} %>
    </li>
    <% if assoc.nil? == false && model.public_methods.include?("#{assoc.to_s.singularize}_ids") && model.send("#{assoc.to_s.singularize}_ids").empty? == false %>
    <li title="<%= assoc.pluralize.capitalize %>" class="ui-state-default ui-corner-all">
      <%= link_to "<span class='ui-icon ui-icon-zoomin' />",
        {:controller => model.class.to_s.downcase.pluralize, :id => model.id, :action => assoc.pluralize } %>
    </li>
    <% end %>
    <li title="Delete" class="ui-state-default ui-corner-all">
      <%= link_to "<span class='ui-icon-trash ui-icon' />", model, {:method => :delete, :confirm => 'Are you sure?'} %>
    </li>
    <% if not assoc.nil? %>
    <li title="New <%=assoc.capitalize%>" class="ui-state-default ui-corner-all" title="New <%=assoc.capitalize %>">
      <%= link_to "<span class='ui-icon-document ui-icon' />",
        {:controller => assoc.pluralize, :action => :new, "#{model.class.to_s.downcase}_id".to_sym => model.id },
        {:id => "new-#{assoc}" } %>
    </li>
    <% end %>
  </ul>
</span>