<span class="icons ui-widget ui-widget-content ui-corner-all">
  <ul class="icons">
    <li title="View" class="ui-state-default ui-corner-all">
        <%= link_to "<span class='ui-icon ui-icon-note' />", {:controller => model.class.to_s.downcase.pluralize, :id => model, :action => 'show'} %>
    </li>
    <li title="Edit" class="ui-state-default ui-corner-all">
      <%= link_to "<span class='ui-icon-pencil ui-icon' />",
        {:controller => model.class.to_s.downcase.pluralize, :id => model, :action => 'edit'}, {:id=>"edit_#{model.class.to_s.downcase}_#{model.id}"} %>
    </li>
    <% if not assoc.nil? %>
    <li title="New <%=assoc.capitalize%>" class="ui-state-default ui-corner-all">
      <%= link_to "<span class='ui-icon-document ui-icon' />",
        {:controller => assoc.pluralize, :action => :new, "#{model.class.to_s.downcase}_id".to_sym => model.id } %>
    </li>
    <% end %>
    <li title="Delete" class="ui-state-default ui-corner-all">
      <%= link_to "<span class='ui-icon-trash ui-icon' />", model, {:method => :delete,:confirm => 'Are you sure?'} %>
    </li>
  </ul>
</span>