<ul class="accordion">
<% scenarios.each do |story| %>
	<li>
      <h5>
		<a href="#" title="<%=h story.scenario %>">
			Scenario: <%=h story.scenario %>
			<% if Story.find_by_scenario(story.scenario.sub(/^Scenario: /,"").strip)%>
				<b>Already added</b>
			<% end %>
		</a>
      </h5>
      <ul class="steps">
      <% story.steps.each do |step| %>
        <li>
            <% if Step.find_by_title step.title %>
                <b><%=h step.title %></b>
            <% else %>
                <%=h step.title %>
            <% end %>
        </li>
      <% end %>
      <% if not story.examples.empty? %>
        <br /><p>Examples:</p>
        <table>
          <thead>
            <tr>
            <% story.examples.each do |example| %>
              <% example.actions.each do |action| %>
                <td><%= action.title%></td>
              <% end %>
            <% end %>
            </tr>
          </thead>
          <tbody>
            <% story.examples.first.actions.first.items.each_with_index do |item, index| %>
            <tr>
              <% story.examples.first.actions.each_with_index do |action, width_index| %>
              <td><%= story.examples.first.actions[width_index].items[index].title %></td>
              <% end %>
            </tr>
            <% end %>
          </tbody>
        </table>
      <% end %>
      </ul>
    </li>
<% end %>
</ul>
