<ul class="accordion">
<% scenarios.each do |story| %>
	<li>
      <h5>
		<a href="#" title="<%=h story.scenario %>">
			Scenario: <%=h story.scenario %>
			<% if Story.find_by_scenario(story.scenario.sub(/^Scenario: /,"").strip)%>
				<b>Already added</b>
			<% end %>
		</a>
      </h5>
      <ul class="steps">
      <% story.steps.each do |step| %>
        <li>
            <% if Step.find_by_title step.title %>
                <b><%=h step.title %></b>
            <% else %>
                <%=h step.title %>
            <% end %>
        </li>
      <% end %>
      <% if not story.examples.empty? %>
        <%= render :partial => '/common/example_table', :locals => {:story => story}%>
      <% end %>
      </ul>
    </li>
<% end %>
</ul>
