<% content_for :side_bar do %>
  <% if !models.blank? %>
    <ul id="<%= models.first.class.to_s.singularize.downcase %>_<%=assoc%>">
	  <% models.each_with_index do |model, index| %>
        <li id="<%= models.first.class.to_s.singularize.downcase %>_<%=model.id%>_<%=assoc%>" class="<%= models.first.class.to_s.singularize.downcase %>_item_<%= index %> side_hover" style="display: none;">
          <h3><%=h display_item_title(model) %></h3>
        <% if !model.send(assoc.to_sym).blank? %>
          <ul>
            <% for item in model.send(assoc.to_sym)%>
            <li>
              <% if 'Step' == item.class.to_s.to_sym %>
              <%=h item.formatted model.send(assoc.to_sym)[index -1] %>
              <% else %>
              <%= display_item_title(item) %>
              <% end %>
            </li>
            <% end %>
          </ul>
        <%else%>
          <%= model.class.to_s.singularize %> does not have any <%= assoc %>  yet.
        <% end %>
        </li>
	  <% end %>
	<% end %>
  </ul>
<% end %>