<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-us" lang="en-us">
  <head>
    <title>SaladBowl</title>
  </head>
  <%= stylesheet_link_tag "jquery-ui" %>
  <%= stylesheet_link_tag "formtastic" %>
  <%= stylesheet_link_tag "formtastic_changes" %>
  <%= stylesheet_link_tag "tipsy" %>
  <%= yield :css_head %>
  <link rel="stylesheet" href="/stylesheets/compiled/screen.css" type="text/css" media="screen, projection" />
  <link rel="stylesheet" href="/stylesheets/compiled/print.css" type="text/css" media="print" />
  <!--[if lt IE 8]>
    <link rel="stylesheet" href="/stylesheets/compiled/ie.css" type="text/css" media="screen, projection" />
  <![endif]-->

  <%= javascript_include_tag "jquery" %>
  <%= javascript_include_tag "jquery-ui" %>
  <%= javascript_include_tag "jquery-icon-animation" %>
  <%= javascript_include_tag "jquery.formtastic.tooltips" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "jquery-validate" %>
  <%= javascript_include_tag "inflection" %>
  <%= javascript_include_tag "form" %>
  <%= yield :js_head %>
  <%= javascript_include_tag "http://cdn.jquerytools.org/1.2.0/all/jquery.tools.min.js" %>
  <%= javascript_include_tag "jquery.tipsy" %>
  <%= javascript_include_tag "tooltips.js" %>
  <%= javascript_tag "var AUTH_TOKEN = #{form_authenticity_token.inspect};" if protect_against_forgery? %>

  <body class="salad">
    <noscript><div class='notice'>This site works best with Javascript enabled</div></noscript>
      <div id="container">
        <%= render :partial => 'layouts/header' %>
        <%= render :partial => 'layouts/flash', :locals => {:flash => flash} %>
        <%= render :partial => 'layouts/content', :locals => {:content => 'wide'} %>
        <%= render :partial => 'layouts/footer' %>
      </div>
  </body>
</html>